<!DOCTYPE html>
<html>
  <head>
    <meta charSet="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Server render 5</h1>
    <div id="App"></div>
  </body>
</html>
