@import 'utils/index';

.component {
  font-family: Barlow;
  color: red;
}

@include breakpoint(mobile) {
  .component {
    color: blue;
  }
}

@include breakpoint(tablet) {
  .component {
    color: yellow;
  }
}

@include breakpoint(desktop) {
  .component {
    color: green;
  }
}
