@import 'utils/index';

.component {
  font-family: Barlow;
  color: red;
}

.svg, .img {
  width: 30px;
  height: 30px;
}

@include breakpoint(mobile) {
  .component {
    color: blue;
  }
}

@include breakpoint(tablet) {
  .component {
    color: yellow;
  }
}

@include breakpoint(desktop) {
  .component {
    color: green;
  }
}
